# Ignore everything
*

# Except these project files
!index.html
!app.js
!styles.css
!help.html
!sip-parser.html
!sip-parser.js
!LICENSE
!README.md
!CLAUDE.md
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/deploy.yml

# V1 backups
!index-v1.html
!app-v1.js
!sip-parser-v1.html
!sip-parser-v1.js
