# Ignore everything
*

# Project files
!index.html
!app.js
!styles.css
!help.html
!sip-parser.html
!sip-parser.js
!LICENSE
!README.md
!CLAUDE.md
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/deploy.yml
